#p1{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;
}
#p2{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;

}
#p3{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;

}
#p4{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;

}
#p1p{
position: absolute;
bottom: 0px;
z-index: 5;

}
#p1p{
    position: absolute;
    bottom: 0px;
    z-index: 5;

    
   }
   #p2p{
    position: absolute;
    bottom: 0px;
    z-index: 5;

    }
    #p3p{
        position: absolute;
bottom: 0px;
z-index: 5;

        }
#p4p{
 position: absolute;
bottom: 0px;
z-index: 5;

}
#pic{
    height: 150px;
    width: 150px;
    position:relative;
float: left;

}
#bigDiv{
    height:100vh;
}
img{
    border-style: solid;
}