body{
    color:red;
}
#p1{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;

}
#p2{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;

}
#p3{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;

}
#p4{
    float:left;
    position: absolute;
    z-index: 2;
    border-style: solid;

}

#p1p{
    position: absolute;
    bottom: -40px;
    z-index: 5;

    color: red;
   }
   #p2p{
    position: absolute;
    bottom: -40px;
    z-index: 5;
    color: red;

    }
    #p3p{
        position: absolute;
bottom: -40px;
z-index: 5;
color: red;

        }
#p4p{
 position: absolute;
bottom: -40px;
z-index: 5;
color: red;

}
#pic1{
    height: 180px;
    width: 150px;
    position:relative;
float: left;


}
#pic2{
    height: 180px;
    width: 150px;
    position:relative;
float: left;

}
#pic3{
    height: 180px;
    width: 150px;
    position:relative;
float: left;

}
#pic4{
    height: 180px;
    width: 150px;
    position:relative;
float: left;

}
#bigDiv{
    height:35vh;
    width:50%;
    float: left;

}
#bigDiv2{
    height:100vh;
    width:50%;
    float: right;
    color: red;

}
#bigDiv3{
    height:65vh;
    width:50%;
    float: left;
}
.h4{
    float: bottom;
    position: relative;
    z-index: 2;
    left:10px;
    text-align: left;
    color: red;

}
.h3{
    color: red;

}
#vid {
    position: fixed;
    left: 0;
    top:-600px;
   width: 250%; 
    height: 250%;
    z-index: -50;
}
